*
{
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}
/*Header*/
header
{
	height: 90px;
	background-color: #F7F7F7;
}
header ul
{
	padding-right: 10px;
	padding-top: 30px;
	float: right;

}
header ul li
{
	display: inline;
}
.links
{
	font-size: 18px;
	display: inline-block;
	color: #1E1E1E;
	text-decoration: none;
}
header ul li a:hover
{
	color: #bfbfbf;
}	

#faixaTopo
{
	height: 10px;
	background-color: #006341;
}
#cabeçalho
{
	font-size: 50px;
	color: #1E1E1E;
	text-shadow: 1px 1px #FFFFFF;
	float : left;
	padding-top: 10px;
	padding-left: 66px; 
}
#logo
{
	width: 80px;
	height: 80px;
	padding-top: 10px;
	padding-left: 30px;
	float : left;
}
/*Nav*/
#menu
{
	height: 30px;
	background-color: #F7F7F7;
}
#menu ul
{
	padding-left: 150px;
}
#menu ul li 
{
	padding-left: 30px;
	display: inline;
}
#menu ul li a
{
	font-size: 20px;
	display: inline-block;
	color: #1E1E1E;
	text-decoration: none;
}
#menu ul li a:hover
{
	background-color: #1E1E1E;
	color: #F7F7F7;
}
/*Section*/
/*Article 1*/
#MisturaDaCasa
{
	height: 600px;
	background-image: url("images/CafeDaCasa.jpg");/*modificacao*/
	background-size: cover;/*modificacao*/
	border-style: solid;
	border-color: #006341;
}
#PrecoDaCasa
{
	height: 90px;
	width: 500px;
	position: absolute;
	bottom: 110px;
	left: 190px;
	background-color: #006240;
	border-style: solid;
	border-color: black;
}
#PrecoDaCasa:Hover
{
	background-color: #008757;
}
#PrecoDaCasa p
{
	padding-top: 5px;
	font-size: 70px;
	text-align: center;
}
#PrecoDaCasa p a
{
	color: #000000;
	text-decoration: none;
}
/*Article2*/
#PromocaoDoDia
{
	height: 200px;
	background-color: #000000;
	background-image: url(images/Promocao.png);
}
#Enunciado
{
	color: #FFFFFF;
	font-size: 25px;
	padding-top: 30px;
	padding-left: 200px;
}
#Desconto
{
	color: #FFFFFF;
	font-size: 20px;
	font-style: bold;
	padding-left: 290px;
	padding-top: 10px;
}
#ButtonPromo
{
	background-color: #006240;
	width: 100px;
	height: 50px;
	margin-left: 700px;
	margin-top: 15px;
}
#ButtonPromo:Hover
{
	background-color: #008757;
}
#ButtonPromo p
{
	text-align: center;
	padding-top: 15px;
	font-size: 20px;

}
#ButtonPromo p a
{
	text-decoration: none;
	color: #FFFFFF;
}
/*Article3*/
#Arabico
{
	height: 600px;
	background-image: url("images/CafeArabico.jpg");/*modificacao*/
	background-size: cover;/*modificacao*/
	border-style: solid;
	border-color: #006341;
}
#PrecoArabico
{
	margin-left: 190px;
	margin-top: 420px;
	height: 90px;
	width: 500px;
	background-color: #006341;
	border-style: solid;
	border-color: #00000;
}
#PrecoArabico:Hover
{
	background-color: #008757;
}
#PrecoArabicobtn
{
	text-align: center;
	font-size: 70px;
	
}
#PrecoArabicobtn a
{
	text-decoration: none;
	color: #000000
}

/*Para todos Article*/
.Definicao
{
	width: 300px;
	height: 420px;
	float: right;
	margin-top: 90px;
	margin-right: 180px;
	border-style: inset;
	border-color: #006341;
	background-color: #E6D1BC;
	background-image: url(images/cardapio.png);
}
.Definicao p
{
	margin-top: 130px;
	font-size: 25px;
	text-align: center;
	color: #000000;
}
.Cafe h2
{
	position: absolute;
	margin-top: 200px;
	margin-left: 130px;
	text-shadow: 2px 2px #898989;
	font-size: 80px; 
}
/*Footer*/
#Rodape
{
	height: 550px;
	background-color: #F7F7F7;
}
#faixaBaixo
{
	height: 10px;
	background-color: #382F2D;

}
#RedesSociais
{
	background-color: #F0F0F0;
	border-style: solid;
	border-color: #FFFFFF;
	height: 150px;
}
#RedesSociais ul li
{

	display: inline;
}
#RedesSociais ul li a
{
	margin-top: 50px;
	padding-left: 25px;
	text-decoration: none;
	color: #000000;
	font-size: 40px;
	display: inline-block;
}
#RedesSociais ul li a:Hover
{
	color: #9b9999;
}
#Links
{
	height: 300px;
}
#linksSobre 
{

	float: left;
	padding-left: 70px;
}
.sobre
{

	padding-top: 10px;
}
span
{
	font-size: 25px;
	font-style: bold;

}
.sobre a
{
	text-decoration: none;
	color: #000000;
}
.sobre a:Hover
{
	color: #9b9999; 
}
#linksAtendimento
{
	float: left;
	padding-left: 140px;
}
#linksRapidos
{
	float: left;
	padding-left: 210px;
}
#encerramento
{
	height: 100px;
}
.options
{
	display: inline;
}
.options a
{
	display: inline-block;
	color: black;
	padding-left: 20px;
}
.options p
{
	display: inline-block;
	color: black;
	padding-left: 20px;
}
#direitos
{
	padding-left: 20px;
	padding-top: 30px;
	font-size: 10px;
}